h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: justify;
  margin-left: 220px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: justify;
  margin-left: 130px;
}

div {
  text-align: justify;
  margin-left:50px;
  padding-bottom: 5px;
}

img {
  margin-left: 105px;
  padding-bottom: 10px;
}

p {
  text-align: justify;
  padding-top: 20px;
  color: blue;
  margin-left: 130px;
}